.chat-side
  .side-header
    .side-header__box
      %p.side-header__contents__user
        kishi
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          %i.fa.fa-cog

 
        
  
  .groups
    .group__groups__name
      %p.group__groups__name
        kousuke
      .group__latest__message
        %p.group__latest__message
          まだメッセージがありません
      

